_nomad-python/**/assignment.py
_nomad-python/**/assignment_func.py
_nomad-python/**/assignment.ipynb
_nomad-python/**/assignment-checkpoint.ipynb
_nomad-python/**/__pycache__/
_nomad-python/**/.ipynb_checkpoints/
