<!DOCTYPE html>
<html>
  <head>
    <title>Job Search!!</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>✌Results</h1>
      <h3>Found ✔{{resultsNum}} results for {{SearchingBy}}</h3>
      <a href="/export?word={{SearchingBy}}">💾Export results to CSV</a>
      <h6><a href="/">or go back</a></h6>
    </header>
    {% for job in jobs: %}
    <h5>From {{job.site}}</h5>
    <div>
      <h3><u>{{job.title}}</u></h3>
    </div>
    <div>
      <span
        ><b>{{job.company}}</b> ◆
        <a href="{{job.link}}" target="_blank">Apply </a>
      </span>
    </div>
    <hr />
    {% endfor %}
  </body>
</html>
